:root {
    --tile-size: 100px;
    --border-rad: calc(0.1*var(--tile-size));
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#playground {
    background-color: grey;
    padding: var(--border-rad);
    border-radius: calc(2 * var(--border-rad));
    display: grid;
    grid-template-columns: 1fr;
}

#tiles-placeholder {
    grid-gap: var(--border-rad);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.tile-placeholder {
    background-color: black;
    width: var(--tile-size);
    height: var(--tile-size);
    border-radius: var(--border-rad);
}

#tiles {
    margin-top: -100%;
    position: relative;
}

.tile {
    background-color: red;
    width: var(--tile-size);
    height: var(--tile-size);
    border-radius: var(--border-rad);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: top 200ms, left 200ms;
}

.tile span {
    font-size: 2em;
    font-family: sans-serif;
    color: white;
}
